body
{
  color: white;
  background-color: #222222;
  font-size: 4vmin;
  margin: 0;
}

a
{
  text-decoration: none;
}

h1
{
  font-size: 1.5em;
}

#main-div
{
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  align-items: center;
  justify-content: flex-start;
}

#difficulty
{
  margin-bottom: 0.4em;
}

#scoreboard
{
  background-color: dodgerblue;
  width: 75vmin;

  font-size: 0.8em;

  padding: 0.2em;
  border-radius: 0.4em;
  margin-bottom: 0.4em;
  border-spacing: 0.2em;

  table-layout: fixed;
}

#scoreboard th
{
  text-align: left;
}

#scoreboard td
{
  color: black;
  background-color: white;

  padding: 0.2em;
  border-radius: 0.3em;

  overflow: hidden;
}

.time-cell
{
  text-align: center;
}

.button
{
  color: white;
  background-color: dodgerblue;

  font-size: 0.7em;
  font-weight: bold;

  display: inline-block;

  padding: 0.5em;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em white;

  cursor: pointer;
}

.button:hover
{
  background-color: deepskyblue;
}

.inactive-button
{
  color: white;
  background-color: #666666;
  font-size: 0.7em;
  font-weight: bold;

  display: inline-block;

  padding: 0.5em;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em white;
}
